@use "../../Style/variables" as *;

.dashboard {
  .top-bar {
    width: 90%;
    display: flex;
    // align-items: center;
    justify-content: space-between;
    padding: 0.6rem 0;
    margin: 0 auto;

    .add-folder-btn {
      display: flex;
      align-items: center;
      padding: 0.6rem;
      background-color: $primaryColor;
      gap: 6px;
      color: white;
      border-radius: 8px;
      cursor: pointer;
      p {
        font-size: 0.9rem;
      }
      img {
        width: 1.2rem;
        height: 1.2rem;
      }
    }
    .filter-bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 0.6rem;
      border: 1px solid #6c6c70;
      width: 42%;
      border-radius: 6px;
      img {
        width: 1.2rem;
        height: 1.2rem;
      }
      div {
        display: flex;
        align-items: center;
        gap: 10px;
        img {
          cursor: auto !important;
        }
        input {
          outline: none;
          padding: 0.7rem 0;
          border: 0;
          font-size: 0.9rem;
        }
      }
      img {
        cursor: pointer;
      }
    }
  }
  .folder-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
    column-gap: 4rem;
    padding: 1.8rem 3rem;
  }
}
